.own__timeline {
    background: #333;
    // background: url(../images/mattroi.gif) no-repeat center center;
    // background-size:100%;
    height: 740px;
    .personal__information {
        .personal__information--wapper {
            box-shadow: 0px 20px 0px -10px gray, 0px -20px 0px -10px gray, 20px 0px 0px -10px gray,
                -20px 0px 0px -10px gray, 0px 0px 0px 10px #be0e0e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
            .information-images {
                border-right: 10px inset gray;
                background: linear-gradient(to right, #00345a 0%, #005896 54%, #005896 100%);
                position: relative;
                z-index: 999;
                img {
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.04);
                        transition: 0.5s all ease-in-out;
                    }
                }
                // End img
                .information {
                    color: white;
                    line-height: 1.8;
                    h4:nth-child(1) {
                        content: "";
                        background: url(../images/man.png) no-repeat 10%;
                        background-size: contain;
                    }
                    h4:nth-child(3) {
                        content: "";
                        background: url(../images/target.png) no-repeat 10%;
                        background-size: contain;
                    }
                    @media screen and (max-width: 1027px) {
                        h4 {
                            font-size: 17px;
                        }
                    }
                    ul {
                        @media screen and (max-width: 1027px) {
                            li {
                                font-size: 12px;
                            }
                        }
                    }
                }
                // End .information
            }
            // End .information-images
            .information-timeline {
                overflow-x: overlay;
                background: url(../images/mattroi.gif) no-repeat center center;
                background-size: cover;
                .timeline-text {
                    z-index: 99;
                    .timeline-text--1 {
                        display: none;
                        margin: {
                            top: 35%;
                        }
                        input {
                            display: none;
                        }
                    }
                    // End .timeline-text--1
                    .timeline-text--2 {
                        @extend .timeline-text--1;
                        margin: {
                            top: 401px;
                            left: 189px;
                        }
                    }
                    // End .timeline-text--2
                    .timeline-text--3 {
                        @extend .timeline-text--1;
                        margin: {
                            top: 255px;
                            left: 425px;
                        }
                    }
                    // End .timeline-text--3
                    .timeline-text--4 {
                        @extend .timeline-text--1;
                        margin: {
                            top: 218px;
                            left: 752px;
                        }
                    }
                    // End .timeline-text--4
                    .timeline-text--5 {
                        @extend .timeline-text--1;
                        margin: {
                            top: 73px;
                            left: 1040px;
                        }
                    }
                    // End .timeline-text--4
                    .timeline-text--6 {
                        @extend .timeline-text--1;
                        margin: {
                            top: 10px;
                            left: 1211px;
                        }
                    }
                    // End .timeline-text--4
                    .timeline-text--7 {
                        @extend .timeline-text--1;
                        margin: {
                            top: -6px;
                            left: 1119px;
                        }
                    }
                    // End .timeline-text--4
                    .timeline-text--8 {
                        @extend .timeline-text--1;
                        margin: {
                            top: 0px;
                            left: 1805px;
                        }
                    }
                    // End .timeline-text--4
                }
                .timeline {
                    bottom: 16%;
                    left: 9.5%;
                    z-index: 99;
                    .timeline-nav {
                        .triangle-down1 {
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 13px solid #dee2e6;
                            transform: translate(-23px, 369px);
                            -webkit-transform: translate(-23px, 369px);
                            -moz-transform: translate(48px, 244px);
                            -ms-transform: translate(48px, 244px);
                            -o-transform: translate(48px, 244px);
                        }
                        .triangle-down2 {
                            @extend.triangle-down1;
                            transform: translate(218px, 374px);
                            -webkit-transform: translate(218px, 374px);
                            -moz-transform: translate(399px, 165px);
                            -ms-transform: translate(399px, 165px);
                            -o-transform: translate(399px, 165px);
                        }
                        .triangle-down3 {
                            @extend.triangle-down1;
                            transform: translate(453px, 263px);
                            -webkit-transform: translate(453px, 263px);
                            -moz-transform: translate(710px, 145px);
                            -ms-transform: translate(710px, 145px);
                            -o-transform: translate(710px, 145px);
                        }
                        .triangle-down4 {
                            @extend.triangle-down1;
                            transform: translate(774px, 237px);
                            -webkit-transform: translate(774px, 237px);
                            -moz-transform: translate(594px, -317px);
                            -ms-transform: translate(594px, -317px);
                            -o-transform: translate(594px, -317px);
                        }
                        .triangle-down5 {
                            @extend.triangle-down1;
                            transform: translate(1055px, 148px);
                            -webkit-transform: translate(1055px, 148px);
                            -moz-transform: translate(594px, -317px);
                            -ms-transform: translate(594px, -317px);
                            -o-transform: translate(594px, -317px);
                        }
                        .triangle-down6 {
                            @extend.triangle-down1;
                            transform: translate(1307px, -22px);
                            -webkit-transform: translate(1307px, -22px);
                            -moz-transform: translate(594px, -317px);
                            -ms-transform: translate(594px, -317px);
                            -o-transform: translate(594px, -317px);
                        }
                        .triangle-down7 {
                            @extend.triangle-down1;
                            -webkit-transform: translate(1437px, -219px);
                            transform: translate(1437px, -219px);
                        }
                        .triangle-down8 {
                            @extend.triangle-down1;
                            transform: translate(1639px, -357px);
                            -webkit-transform: translate(1639px, -357px);
                            -moz-transform: translate(594px, -317px);
                            -ms-transform: translate(594px, -317px);
                            -o-transform: translate(594px, -317px);
                        }
                        .timeline-nav--ul {
                            li {
                                cursor: pointer;
                                &:nth-child(1) {
                                    transform: translate(-71px, 221px);
                                    -webkit-transform: translate(-71px, 221px);
                                    -moz-transform: translate(2px, 148px);
                                    -ms-transform: translate(2px, 148px);
                                    -o-transform: translate(2px, 148px);
                                }
                                &:nth-child(2) {
                                    transform: translate(122px, 239px);
                                    -webkit-transform: translate(122px, 239px);
                                    -moz-transform: translate(304px, 82px);
                                    -ms-transform: translate(304px, 82px);
                                    -o-transform: translate(304px, 82px);
                                }
                                &:nth-child(3) {
                                    transform: translate(309px, 141px);
                                    -webkit-transform: translate(309px, 141px);
                                    -moz-transform: translate(566px, 75px);
                                    -ms-transform: translate(566px, 75px);
                                    -o-transform: translate(566px, 75px);
                                }
                                &:nth-child(4) {
                                    transform: translate(581px, 128px);
                                    -webkit-transform: translate(581px, 128px);
                                    -moz-transform: translate(594px, -317px);
                                    -ms-transform: translate(594px, -317px);
                                    -o-transform: translate(594px, -317px);
                                }
                                &:nth-child(5) {
                                    transform: translate(813px, 52px);
                                    -webkit-transform: translate(813px, 52px);
                                    -moz-transform: translate(2px, 148px);
                                    -ms-transform: translate(2px, 148px);
                                    -o-transform: translate(2px, 148px);
                                }
                                &:nth-child(6) {
                                    transform: translate(1017px, -105px);
                                    -webkit-transform: translate(1017px, -105px);
                                    -moz-transform: translate(304px, 82px);
                                    -ms-transform: translate(304px, 82px);
                                    -o-transform: translate(304px, 82px);
                                }
                                &:nth-child(7) {
                                    transform: translate(1099px, -289px);
                                    -webkit-transform: translate(1099px, -289px);
                                    -moz-transform: translate(566px, 75px);
                                    -ms-transform: translate(566px, 75px);
                                    -o-transform: translate(566px, 75px);
                                }
                                &:nth-child(8) {
                                    transform: translate(1251px, -414px);
                                    -webkit-transform: translate(1251px, -414px);
                                    -moz-transform: translate(594px, -317px);
                                    -ms-transform: translate(594px, -317px);
                                    -o-transform: translate(594px, -317px);
                                }
                            }
                        }
                    }
                    // End ..timeline-nav
                }
                // End .timeline
                .timeline-person--man {
                    bottom: -176px;
                    left: 8px;
                    z-index: 99;
                    cursor: pointer;
                    :hover {
                        transition: 0.4s all ease-in-out;
                        transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
                    }
                    @media screen and (max-width: 1027px) {
                        bottom: -208px;
                    }
                }
                // End .timeline-person--man
                .timeline-person--girl {
                    @extend .timeline-person--man;
                    bottom: -81px;
                    left: 50rem;
                    @media screen and (max-width: 1027px) {
                        bottom: -133px;
                        left: 38rem;
                    }
                }
                // End .timeline-person--girl
                .timeline-flag {
                    .flag-1 {
                        @extend.timeline-person--man;
                        bottom: -176px;
                        left: 52px;
                        transform: rotate(20deg);
                        -webkit-transform: rotate(-6deg);
                        -moz-transform: rotate(20deg);
                        -ms-transform: rotate(20deg);
                        -o-transform: rotate(20deg);
                        @media screen and (max-width: 1027px) {
                            bottom: -208px;
                        }
                    }
                    // End .flag-1
                    .flag-2 {
                        @extend .flag-1;
                        bottom: -192px;
                        left: 292px;
                        @media screen and (max-width: 1027px) {
                            bottom: -225px;
                            left: 222px;
                        }
                    }
                    // End .flag-2
                    .flag-3 {
                        @extend .flag-1;
                        bottom: -97px;
                        left: 33rem;
                        @media screen and (max-width: 1027px) {
                            bottom: -146px;
                            left: 26rem;
                        }
                    }
                    // End .flag-3
                    .flag-4 {
                        @extend.flag-1;
                        bottom: -84px;
                        left: 53rem;
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        @media screen and (max-width: 1027px) {
                            bottom: -136px;
                            left: 40rem;
                        }
                    }
                    // End .flag-4
                    .flag-5 {
                        @extend.flag-1;
                        bottom: -66px;
                        left: 50rem;
                        -webkit-transform: translate(229px, 21px);
                        transform: rotate(-14deg) translate(339px, 21px);
                        @media screen and (max-width: 1027px) {
                            bottom: -127px;
                            left: 37rem;
                        }
                    }
                    // End .flag-5
                    .flag-6 {
                        @extend .flag-5;
                        bottom: 42px;
                        left: 54rem;
                        transform: rotate(-14deg) translate(533px, 21px);
                        @media screen and (max-width: 1027px) {
                            bottom: -49px;
                            left: 38rem;
                        }
                    }
                    // End .flag-6
                    .flag-7 {
                        @extend .flag-6;
                        bottom: 117px;
                        left: 55rem;
                        transform: rotate(-21deg) translate(673px, 21px);
                        -webkit-transform: rotate(-21deg) translate(673px, 21px);
                        -moz-transform: rotate(-21deg) translate(673px, 21px);
                        -ms-transform: rotate(-21deg) translate(673px, 21px);
                        -o-transform: rotate(-21deg) translate(673px, 21px);
                        @media screen and (max-width: 1027px) {
                            bottom: -3px;
                            left: 38rem;
                        }
                    }
                    // End .flag-7
                    .flag-8 {
                        @extend .flag-6;
                        bottom: 335px;
                        left: 49rem;
                        transform: rotate(-9deg) translate(940px, 21px);
                        @media screen and (max-width: 1027px) {
                            bottom: 194px;
                            left: 30rem;
                        }
                    }
                    // End .flag-8
                }
                // End .timeline-flag
                .timeline-road {
                    transform: scale(2.26) translate(254px, 131px);
                    -webkit-transform: scale(2.26) translate(254px, 131px);
                    -moz-transform: scale(2.26) translate(254px, 131px);
                    -ms-transform: scale(2.26) translate(254px, 131px);
                    -o-transform: scale(2.26) translate(254px, 131px);
                    @media screen and (max-width: 1027px) {
                        transform: scale(2.65) translate(195px, 131px);
                        -webkit-transform: scale(2.65) translate(195px, 131px);
                        -moz-transform: scale(2.26) translate(254px, 131px);
                        -ms-transform: scale(2.26) translate(254px, 131px);
                        -o-transform: scale(2.26) translate(254px, 131px);
                    }
                }
                .timeline-finish {
                    right: -115%;
                    top: 6%;
                    @media screen and (max-width: 1027px) {
                        right: -148%;
                        top: 20%;
                    }
                }
            }
            // End .information-timeline
        }
        // End .personal__information--wapper
    }
    // End .personal__information
}
// End .own__timeline
